/*
 Theme Name:   SKT IT Consultant_Child
 Theme URI:    http://www.sktthemes.net/shop/consultant-lite/
 Description:  It Consultant Child Theme
 Author:       Gan Wei Cheng & Dahrie Cho
 Author URI:   -
 Template:     skt-it-consultant
 Version:      1.0.0
 License:      -
 License URI:  -
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, Peter Mac
 Text Domain:  skt-it-consultant
*/

/*
	button-orange: #FC9A53;
	links-darkblue: #062340;
*/

@font-face {font-family: "Ubuntu"; src: url("fonts/Ubuntu-R.ttf");}
@font-face {font-family: "Ubuntu_Medium"; src: url("fonts/Ubuntu-M.ttf");}
@font-face {font-family: "Ubuntu_Italic"; src: url("fonts/Ubuntu-RI.ttf");}
@font-face {font-family: "Ubuntu_Light"; src: url("fonts/Ubuntu-L.ttf");}

/***************************************** General Styling *****************************************/
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  font-size: 15px;
  font-family: "Ubuntu";
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  font-size: 15px;
  font-family: "Ubuntu";
}

input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/***************************************** Sticky Widget Styling *****************************************/
.sticky{position: fixed; opacity: 0; top: 0; z-index: 10; width: 50px; height: 50px; float: left; background-color: #FC9A53;
transition: width 0.5s ease;-webkit-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75); -moz-box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);}
.sticky:hover{background-color:#E38644; width: 60px;}

/***************************************** Landing Page Slider Button *****************************************/
.btn-01{margin-top: 10px; float: left; display: inline; transition:all 0.5s ease; background-color:#FC9A53; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:none; 
	cursor:pointer; color:#ffffff; font-family:"Ubuntu"; font-size:17px; padding:18px 12px; text-decoration:none;
}
.btn-01:hover {background-color:#E38644; transform: scale(1.01,1.01);}
.btn-01:active {top:1px;}

/***************************************** Header Styling *****************************************/
.header{padding:0; z-index:101; border-bottom:0px solid #dddddd; margin-bottom: 20px;}
.phone{display:none;}
.header_right nav{ float:right; clear:right;}
.container{width:100%; margin:0 auto;}
.head_fix{width: 90%; margin:0 auto;}

/***************************************** Navigation Styling *****************************************/
nav{height:35px; line-height:28px; font-family: "Ubuntu"}
nav ul{list-style:none; color:#fff;}
nav ul li{float:left; display:inline-blok; position:relative; }
/*Styling for inactive links*/
nav ul li a{display:block; padding:0px 8px 7px; font-weight:600; margin:0 5px 0 0; color:#062340; }
nav ul li:hover, nav ul li.current-menu-item, nav ul li.current-menu-ancestor{}
nav ul li a:hover, nav ul li.current_page_item a, nav ul li.current_page_parent a.parent {
 color:orange; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;background-color: blue;
}
nav ul li:last-child a{ border-right:none; margin-right:0;}	
nav ul li ul{display:none; width:220px; z-index:99;}
nav ul li:hover ul{display:block; position: absolute; box-shadow:5px 5px 5px rgba(0,0,0,0.5); -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5); -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5);}
nav ul li:hover ul li{ }
nav ul li:hover ul li a{ line-height:30px; font-size:16px; color:#fff;}
nav ul li:hover ul li:hover{}
nav ul li.current-menu-item ul li{position:relative; }
nav ul li ul li a, nav ul li ul li, nav ul li.current-menu-item ul li a,  nav ul li.current-menu-item ul li, nav ul li.current-menu-item ul li a { display:block; float:none; border-right:none; }
nav ul li.current-menu-item ul li a{}
nav ul li ul li:hover, nav ul li ul li.current-menu-item { background:none;}
nav ul li ul li a:hover, nav ul li ul li.current-menu-item a {}
nav ul li:hover ul li ul, nav ul li:hover ul li:hover ul li ul{display:none;}
nav ul li:hover ul li:hover ul, nav ul li:hover ul li:hover ul li:hover ul{display:block; position:absolute; left:220px; top:0;}
nav ul li ul li a:hover, nav ul li ul li.current-menu-item a{background:transparent}
nav ul li a:hover, nav ul li.current_page_item a, nav ul li.current_page_parent a.parent, 
/*Remove background color on hovered and selected nav items*/
nav ul li:hover ul li:hover, nav ul li:hover ul{ background-color: transparent;}
nav ul li:hover ul li:hover{ background-color:#c90202;}
nav ul li:hover ul li{ border-bottom:1px solid #d76969;}

/***************************************** Welcome Text *****************************************/
#logo h2{ text-transform:none; margin:0; font:25px "Ubuntu_Medium"; color: #062340;}
#logo h2 a{ color:#062340; font:25px "Ubuntu_Medium";}
#logo span{ display:block; font-size:13px;color: #77797D;}

/***************************************** User Info Selection Stuff *****************************************/
#userinfo{background-color:#f2f2f2;	}
#userinfo h2{display: inline-block; float: left; color: #fff;font-size: 20px; font-family: "Ubuntu";}
#userinfo-container{width:100%; margin: 0 auto; background-color:#062340;}
#userinfo-selection{width: 100%; display: table; border-collapse: separate;}
#userinfo-selection-table{position: relative; display: table-row; white-space: nowrap;}
.userinfo-select-item{font-size: 20px; font-family: "Ubuntu"; margin: 0 2% 2px 0; border-collapse: separate; display: table-cell;  width: 32%; height: 50px; background: white;}
.userinfo-select-item.last{margin: 0 0 0 0;}
#userinfo-title{margin: 0 auto; padding: 30px 0px 30px 0px; width: 90%; }
.moreInfo{cursor: pointer; float: left; color: #062340; margin-top: 8px; margin-left: 15px; width: 18px; height: 18px; line-height: 18px; text-align: center;border-radius:50%; background-color: #FC9A53; font-size: 16px; font-family: "Ubuntu"; transition: all 0.5s ease;}
.moreInfo:hover{background-color:#E38644; transform: scale(1.3,1.3);}
.toolTip{display: inline-block; position: absolute; opacity: 0; float: left; height: 18px; line-height: 18px; margin-top: 8px; transition: all 0.5s ease;}
.toolTipText{ font-size: 15px; font-family: "Ubuntu"; color: #FC9A53;}

/****************************** Support & Resources page**********************************/
#supportresource-highlight{background-color: #F5F5F5;}
#supportresource-highlight h2{width: 100%;padding: 50px 0 0 100px; font-size: 32px;font-family: "Ubuntu";color: rgb(6, 35, 64);}
/***************************************** Suggested Support *****************************************/
#support-highlight{background-color: #F5F5F5;width:100%;}

#support-highlight h2{width: 100%;padding: 100px 0px 30px 0px; text-align: center;font-size: 32px;font-family: "Ubuntu";}

/***Support styling***/
.supportContainer{
	display: table;
	border-collapse: separate;
    border-spacing: 0 50px;
	width: 100%;
    margin: 0 auto;
	height: 100%;
	text-align: center;
	padding: 0px 0px 120px 0px; 
}
.supportPartition{display: table-row;}
.support{display: table-cell;border: solid 1px;	background-color: #FFF;border-color: #DBDBDB;width: 30%;height: 300px;padding: 20px 0px;text-align: center;margin: 0 2% 2px 0;border-collapse: separate;}
.support-mobile{display: table-cell;border: solid 1px;	background-color: #FFF;border-color: #DBDBDB;width: 30%;height: 300px;padding: 20px 0px;text-align: center;margin: 0 2% 2px 0;border-collapse: separate;}
.supportContent{display: table;margin: 0px auto;}

.support h1{margin: none;padding: none;font-family: "Ubuntu";font-size: 15px;}
.support h2{margin: none;padding: none;}
.support h4{width: 100%;padding: 20px 0px 0px 0px; font-size: 15px;font-family: "Ubuntu";color: rgb(6, 35, 64);margin-bottom: 20px;}
.support h5{width: 100%;padding: 0px 0px 10px 0px; font-size: 14px;font-family: "Ubuntu";color:#c7c7c7;margin-bottom: 0px;}
.btn-02{
	width:120px;
	height:45px;
	margin-top: 30px;
	float: none;
	display: inline;
	transition: transform, background-color 0.5s ease;
	background-color:#FC9A53;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:none;
	cursor:pointer;
	color:#ffffff;
	font-family:"Ubuntu";
	font-size:17px;
	padding:0px 0px;
	text-decoration:none;
}
.btn-02:hover {background-color:#E38644;transform: scale(1.01,1.01);}
.btn-02:active {top:1px;}



/***************************************** Suggested Articles *****************************************/
#articles-highlight{height: auto; background-color: #F5F5F5;}
#articles-highlight h2{width: 100%; padding: 150px 0px 30px 0px;  text-align: center; font-size: 25px; font-family: "Ubuntu";}
#sliderContainer{display: inline-block; width: 100%;}
/** Left arrow button **/
#slider-left-button{float: left; height: 410px; padding: 5px;width: 2%;}
.arrowButton.left{position: relative; top: 50%; display: inline-block; margin: 4px; border-left: 5px solid;  border-bottom: 5px solid; width: 13px;  height: 13px; border-color: #062340; transform: translateY(-50%); transform: rotate(45deg);}
/** Right arrow button **/
#slider-right-button{float: right; height: 410px; padding: 5px; width: 2%;}
.arrowButton.right{position: relative; top: 50%; display: inline-block; margin: 4px; border-right: 5px solid;  border-top: 5px solid; width: 13px;  height: 13px; border-color: #062340; transform: translateY(-50%); transform: rotate(45deg);}
.arrowButton{transition: all 0.5s ease;}
.arrowButton:hover{cursor: pointer; border-color: #FC9A53;}
#test{float: left; width: 93.9%;}
.mandatoryDiv {color: #000; font-size: 30px; line-height: 1.5em; font-weight: bold;}
/** Article Object Styling **/
.articleContainer{display: table; border-collapse: seperate; border-spacing: 20px; width: 100%; height: 100%;}
.articlePartition{display: table-row; height: auto;}
.articles{display: table-cell; border: solid 1px; background-color: #FFF; border-color: #DBDBDB; width: 45%; height: 180px; padding: 20px 20px;}
.articleContent{overflow: hidden; height: 188px;}
.articleTextContainer{height: 90%; overflow: hidden; margin-bottom: 5px;}
.articles h1{margin: none; padding: none; font-family: "Ubuntu"; font-size: 18px; color: #4D4D4D;}
.articles img{float: left; margin-right: 20px; width: 200px; height: 188px;}


/***************************************** Custom Template General Styling *****************************************/
.customContainer{overflow: auto; width: 100%; height: auto; padding-bottom: 50px; background-color: #f2f2f2;}

/***************************************** Video Page Styling *****************************************/
/*Video playing part*/
#videoPlayingContainer{position: relative; padding-top: 50px; padding-bottom: 50px; height: auto; width: 100%;}
//#videoPlaying{display: table; border-collapse: separate; height: 100%; width: 100%;}
#videoPlaying{  height: 100%; width: 100%; }
.tableRow{display: table-row; width: auto; height: 100%;}

/*#vpLeftButton{display: table-cell; width: 20%;height: 100%;}
#vpLeftButton .arrowButton.left{position: absolute; top: 40%; transform: translateY(-40%); transform: rotate(45deg); margin-left: 10px;}*/
#vpLeftButton{float: left; width: 5%;height: 450px;}
#vpLeftButton .arrowButton.left{position: relative; top: 40%; transform: translateY(-40%); transform: rotate(45deg); margin-left: 10px;border-color: #FFF;}


//#video{width: 60%; display: table-cell; height: 100%;}
#video{width: 100%; float:left ; height: auto; clear: both; overflow: none;text-align : center;}

/*#videoTextContainer{display: table; border-collapse: seperate; margin-top: 50px;}
#videoCaption{width: 40%; display: table-cell; padding-right: 50px;}
#videoCaption h2{font-family: "Ubuntu_Italic"; font-size: 20px; color: #0B3157;}*/

#videoTextContainer{height: auto; display: inline-block; padding-left: 15%; padding-right:15%; padding-top: 5%;}

#videoTitle{margin-bottom: 70px; font-family: "Ubuntu"; font-size: 35px; padding-left: 10px; color: #062340;}
/*#videoDescription{width: 60%; display: table-cell; font-family: "Ubuntu"; padding-left: 50px; font-size: 15px; color: #6E6E6E;}*/
.testdiv{display: table-row; width: 70%; margin: 50px auto;}
#videoCaption{float: left; width: 45%; display: inline; padding-right: 5%; font-family: Ubuntu; line-height: normal; font-size: 22px; font-style: italic; background-color: rgba(0, 0, 0, 0); color: rgb(6, 35, 64);}

/*#vpRightButton{	display: table-cell; width: 20%; height: 100%;}
#vpRightButton .arrowButton.right{position: absolute; top: 40%; transform: translateY(-40%); transform: rotate(45deg); right: 1px;margin-right: 10px;}*/

#videoDesc{float: left; width: 50%; display: inline; font-family: Ubuntu; line-height: normal; font-size: 14px; color: rgb(97, 94, 94);}

#vpRightButton{	float:left; width: 5%; height: 450px;}
#vpRightButton .arrowButton.right{position: relative; top: 40%; transform: translateY(-40%); transform: rotate(45deg); right: 1px;margin-right: 10px;border-color: #FFF;}

/*Suggested videos part*/
#suggestedVideoContainer{width: 100%; height: auto; background-color: #062340; overflow: hidden; padding-bottom: 50px;}
#videosForYou{color: #FFF; text-align: center; font-family: "Ubuntu"; font-size: 25px; margin-bottom: 60px; padding-top: 120px;}
/*#videoGalleryContainer{width: 100%; height: auto; margin-bottom: 50px; overflow: hidden;}
#video-slider-left-button{width: 5%; float: left; height: 450px;}*/
#videoGalleryContainer{width: 100%; height: auto; overflow: hidden;}
#video-slider-left-button{width: 5%; float: left; height: 750px;}




#video-slider-left-button .arrowButton.left{border-color: #FFF; margin-left: 10px; top: 50%; transform: translateY(-50%); transform: rotate(45deg); position: relative;}
/*#videoSliderContainer{width: 90%; float: left;}
#video-slider-right-button{width: 5%; float: left; height: 450px;}*/
#videoSliderContainer{width: 88%; float: left;}
#vSliderContainer{width: 90%; float: left;}
#video-slider-right-button{width: 5%; float: left; height: 750px;}

#video-slider-right-button .arrowButton.right{border-color: #FFF; margin-right: 10px; top: 50%; transform: translateY(-50%); transform: rotate(45deg); position: relative;}
.videoSlide{width: 100%; height: 100%; margin: 0 auto; display: table; border-collapse: separate; border-spacing: 15px;}
.videoContainer{display: table-cell; width: 25%; height: 100%; background-color: white; }
.videoTitleMini{font-family: "Ubuntu"; font-size: 20px; color: #0B3157; margin-bottom: 5px; margin-top: 15px;}
.videoTextContainerMini{width: 80%; margin: 0 auto;}

#viewAllVideoButtonContainer{clear: both; width: 100%; text-align: center; margin: 0 auto; padding-bottom: 70px;}
#viewAllVideoButtonContainer .btn-01{width: 180px; margin: 0 auto; float: none; font-family: "Ubuntu";}


/*************************************** Generic Video Template Styling ***************************************/
#genericVideoPlayingContainer{width: 100%;display: table;height:auto;background-color: #ffffff;}
#genericVideoPlaying{display: table-cell;  height: 100%; width: 50%; padding: 25px 0px 25px 50px;}
#genericVideoDescription{display: table-cell ;text-align:left;font-weight:normal;font-style:normal;font-family:Arial; width:50%; height: 300px; vertical-align: top;font-family: Ubuntu; text-align: start; font-size: 22px; line-height: 140%;color: rgb(6, 35, 64); background-color: rgba(0, 0, 0, 0); padding: 20px 50px 50px 75px;}
#genericVideo{width: 60%; height: 100%;}
#genericSuggestedVideoContainer{height: auto; background-color: #f2f2f2; overflow: hidden; padding-bottom: 50px; margin : 0px 35px 0px 35px;}
#videoCategory{padding-left: 50px; color: rgb(6, 35, 64); text-align: left; font-family: Ubuntu; font-size: 25px; margin-bottom: 60px; padding-top: 60px;}
#videos{padding: 0px 40px 25px 40px; display: table; border-spacing: 10px; border-collapse: seperate;}
#video-row{}
.videosContainer{display: table-cell; width: 25%; height: 100%; background-color: white; }
.genericVideoTextContainerMini{width: 80%; margin: 0 auto; color: #969595; font-family: Ubuntu; text-align: start; font-size: 14px; line-height: 130%;}

/***************************************** Information Styling *****************************************/
.leftInfoHeading-information{height: 40px; padding: 5px 15px; margin-top: 2px; margin-bottom: 2px; background-color: #062340; border-bottom: 1px solid #B5B5B5; transition: all 0.5s ease;}
.leftInfoHeading-information:hover{cursor: pointer;}
.leftInfoHeading-information h2{display:inline-block; line-height: 40px;font-family: "Ubuntu";font-size: 110%;color: #FFF;}

.leftInfoContent-information{padding: 5px 15px; background-color: #062340; color: #FFF;}
.leftInfoContent-information p{margin-top: 15px; padding: 0;}

.articleBlock .right-title2{font-family: "Ubuntu_Light"; font-size: 20px; color: #062340; padding-top: 0px;}

/***************************************** Your Options Styling *****************************************/
/* Your options page */
#secondNav{margin: 0 auto 0px auto; padding-left: 50px; width: auto; height: 60px; background-color: #062340; color: white; line-height: 60px; font-family: "Ubuntu";}
#secondNav a img{top: 50%; margin-right: 10px; transform: translateY(25%);}
#secondNav a{font-family: "Ubuntu"; font-size: 12px; color: white; transition: all 0.5s ease;}
#secondNav a:hover{color: orange; font-size: 13px;}

#infoContainer{border-spacing: 50px; display: table; width: 100%; border-collapse: separate;}

/******** Left side navigation of info items ********/
#leftInfoNavigation{display: table-cell; width: 25%;}
.leftInfoHeading{height: 40px; padding: 5px 15px; margin-top: 2px; margin-bottom: 2px; background-color: none;	 border-bottom: 1px solid #B5B5B5; transition: all 0.5s ease;}

.leftInfoHeading:hover{cursor: pointer;}
.leftInfoHeading h2{display:inline-block; line-height: 40px;font-family: "Ubuntu";font-size: 110%;color: #062340;}
.articleTitleLeft{cursor: pointer; transition: all 0.5s ease;}
.articleTitleLeft:hover{color:#FC9A53;}
.expandableButton{position: relative; float:right; top: 20%; display: inline-block; margin: 4px; border-right: 3px solid;  border-bottom: 3px solid; border-color: #062340; width: 6px;  height: 6px; transform: translateY(-20%); transform: rotate(45deg);}
.leftInfoContent{padding: 5px 15px; background-color: #062340; color: #FFF;}
.leftInfoContent p{margin-top: 15px; padding: 0;}

.article-flow-button-container{width: 100%; margin: 10px auto;}
.article-flow-button{width: 100%; display: inline-block; text-align: center; height: 70px; font-size: 18px;}

/******** Right side navigation of info items ********/
.rightContentInfo{width: 70%; display: table-cell;}
.rightArticleTitle{margin-top: -1px; border: 1px solid #C9C9C9;  padding: 15px; font-family: "Ubuntu"; font-size: 15px; color: #062340; background-color: #FFF; cursor: pointer;}
.articleBlock h2{font-family: "Ubuntu"; font-size: 30px; color: #062340; padding: 40px 0px 40px 40px;}
.content-info{background-color: #FFF; font-family: "Ubuntu"; padding: 25px 25px; margin-bottom: 40px;}
.content-info p{margin: none; padding: none;}
#partner-logo{clear:both;}

/***************************************** Login Page Styling *****************************************/
#loginPartContainer{width: 80%; height: auto; margin: 10% auto 0 auto;}
#login-welcome-panel{display: table; width: 100%; border-collapse: separate; border-spacing: 70px 0;}
#login-container{width: 100%; height:auto; display: table-row;}
/* Left panel*/
#login-panel-left{width: 50%; height: auto; display: table-cell;}
.login-title{width: 100%; height: 50px; margin-bottom: 20px;}
.login-title #logo{ display: inline-block; transition: all 0.5s ease;}
.login-title #logo:hover{transform:scale(1.1,1.1); transform-origin: top left;}
#welcome-image{width: 100%;}
/* Right Panel */
#login-panel-right{width: 50%; display: table-cell; vertical-align: top; height: 100%; overflow: hidden; position: relative;}
.login-title-right{height: 20%;}
.right-title{width: 100%; font-family: "Ubuntu_Medium"; font-size: 26px; color: #062340;}
#login-input-panel{ width: 100%; height: 100%; position: absolute;}
.user-login{width: 100%; height: 15%; padding: 5px; border: 1px solid #DDDDDD; border-radius: 4px; outline: none;
-webkit-box-sizing : border-box;‌​ -moz-box-sizing : border-box; box-sizing : border-box;}
.user-login.password{margin-top: 5%;}
#password-recovery{height: 25%; width: 100%; text-align: right; font-size: 15px;}
#password-recovery a{color: #062340; transition: all 0.5s ease; padding-right: 10px; display: inline-block;}
#password-recovery a:hover{color: #FC9A53; transform: scale(1.1);}
#login-button{height: 20%;}
#login-button .btn-01{width: 100%; height: 90%; margin: 0px; padding: 0px; border-radius: 3px;}

/*************************************Worksheets Form styling****************************************/
.table{display: table; width:100%; border-collapse:collapse;}
.table-row{display: table-row;}
.table-cell, .table-head{display: table-cell; padding:1em; border:#f0f0f0 1px solid; vertical-align: middle;  text-align: none;}
.table-head{background-color: #062340; font-weight:bold; font-family: "Ubuntu"; font-size: 100%; color: #FFFFFF;	 border-width: 2px; border-color: #ffffff; width: 83px; text-align: center;}
.form{background-color: #FFFFFF; color: #615e5e;  border-color: #e0dede;  border-width: 1px;  font-family: Trebuchet MS;  text-align: left;  font-size: 12px;}
.para{line-height: 140%; font-size: 15px; color: #615e5e;}
.submit{border-color:#dddddd; border-style:solid; background-color:#eb9257; color:#FFF;font-size:14px; font-weight:bold; font-style:normal; font-family:Arial; text-align:center; background-position:center center; padding-top:6px; padding-right:10px; padding-bottom:6px; padding-left:10px; position:absolute;width:115px;
height:35px; border-top-width:0px;border-bottom-width:0px;border-left-width:0px;border-right-width:0px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;}
.line{line-orientation:horizontal; z-index:10020; color:#615e5e; stroke:2;type:solid;	 font-family:; border-width:0px; border-style:solid; position:absolute; width:829px; height:10px;}
.multirow{ display: inline-block; vertical-align: middle;}


/******************* Footer ******************/
#footer{ background-image:none ; background-color:#062340; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: -100px; 0 20px;}
#footer h3{ color: rgb(230, 230, 230); font-size:11px; font-family: Ubuntu; text-align: start; line-height: normal;}
#footer a, #footer a{color: rgb(230, 230, 230); font-family: Ubuntu; text-align: start; font-size: 12px; line-height: 200%;}
#footer aside.widget.first{ width:100%;height:160px; padding-right: 0px; margin-right: 0px;}
/*#footer aside.widget.second{ width:20%;}*/
/*******************Footer Quick Links 'social icons'******************/
.social-icons{text-align: center; position: relative;top: 50%;transform: translateY(-50%);}
.social-icons a{ color:#eeeded; display:inline-block; clear:none; line-height:35px;}
.social-icons a:hover{ color:#7bb302; }
.social-icons .icon{width:100%; padding:0px; width:25px; height:25px; border-radius:50%; background-repeat:no-repeat; background-position:center center; float:left; margin:0 10px 5px 0; }
.partner-img{ 
	padding: 50px 30px;
	display:inline-block;
	margin-lefet: auto;
	margin-right: auto;
	height: 40px;
}
#partner-logo{
	text-align:center;
}

/************************** Support & Resources Template Styling *****************************************/
.support-mobile{display:none;}
#supportTitle{margin-bottom: 70px; font-family: "Ubuntu"; font-size: 35px; padding-left: 10px; color: #062340;}
#secondNav1{
	margin: 0 auto 0px auto;
	padding-left: 50px;
	width: auto;
	height: 60px;
	background-color: #062340;
	color: white;
	line-height: 60px;
	font-family: "Ubuntu";
}

#secondNav1 img{
	top: 50%;
	margin-right: 10px; 
	transform: translateY(25%);
}

#infoContainer1{
	padding: 50px;
}

/******** Left side navigation of Support page items ********/
#leftInfoNavigation1{
	float: left;
	display: inline-block;
	width: 25%;
}

.leftInfoHeading1{
	height: 40px;
	padding: 5px 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #062340;	
	border-bottom: 1px solid #B5B5B5;
	transition: all 0.5s ease;
}



/***********Support page menus************/
.articleTitleLeft1{cursor: pointer; transition: all 0.5s ease;}
.articleTitleLeft1:hover{color:#FC9A53;}
.articleTitleLeft1:active{color:#FC9A53;}

.leftInfoHeading1:hover{cursor: pointer;}
.leftInfoHeading1 h2{display:inline-block;line-height: 40px;font-family: "Ubuntu";font-size: 110%;color: #FFF;}

.leftInfoContent1:hover{cursor: pointer;}
.leftInfoContent1 a{color:#FFF;}
.leftInfoContent1 a:hover{color:#FC9A53;}
.leftInfoContent1 a:active{color:#FC9A53;}
.leftInfoContent1 a.current {color:#FC9A53;}

.expandableButton1{
	position: relative;
	float:right;
  	top: 20%;
	display: inline-block;
    margin: 4px;
    border-right: 3px solid; 
    border-bottom: 3px solid;
    border-color: #FFF;
    width: 6px; 
    height: 6px;
    transform: translateY(-20%);
    transform: rotate(45deg);
}

.leftInfoContent1{
	padding: 5px 15px;
	background-color: #062340;
	color: #FFF;
}

.leftInfoContent1 p{
	margin-top: 15px;
	padding: 0;
}


/******** Right side navigation of info items ********/
.rightContentInfo1{
	width: 70%;
	display: inline-block;
	margin-left: 50px;
	float: left;
}

.rightArticleTitle1{
	margin-top: -1px;
	padding: 25px;
	font-family: "Ubuntu";
	font-size: 32px;
	color: #062340;
	background-color: #transparent;
	cursor: pointer;
}

.content-info1{
	background-color: #FFF;
	font-family: "Ubuntu";
	padding: 25px 25px;
	margin-bottom: 40px;
}

.content-info1 p{
	margin: none;
	padding: none;
}
.rightContentInfo1 h4{
	margin-top: -1px;
	padding: 25px;
	font-family: "Ubuntu";
	font-size: 24px;
	color: #062340;
	font-weight: normal;
}

/***************************************** Responsive Stuff *****************************************/
/*Computer*/
@media only screen and (min-width:1000px) {
/******Customize footer*********/	
	#partner-logo{width:100%;}
/********Support Styling******/
	.supportContainer{width:90%;}
	.support-mobile{display:none;}
	
	
	#userinfo{width:100%;}
	#userinfo-container{ width:100%;}
	#userinfo-title{margin:0px auto}
	#test{width: 93.9%}
	.articles{}
	

	
}

/* Tablet ----------- */
@media only screen and (min-width: 768px) and (max-width: 999px) {
/******Customize footer*********/	

	#footer{ background-image:none ; background-color:#062340; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;}
	#footer a, #footer a{color: rgb(230, 230, 230); font-family: Ubuntu; text-align: start; font-size: 8px; line-height: 140%;}
	#footer aside.widget{ width:100%;min-height: 80px;padding-right: 0;margin-right: 0; padding-bottom: 0}
	#footer aside.widget.first{ width:100%;height:50px;}
	/*#footer aside.widget.second{ width:20%;}*/
	.container {width: 100%; margin: 0 auto;}
	.partner-img{height:30px;line-height:0px;padding:20px 20px;}
	#partner-logo{width:100%;}
	/******Customize Support on landing page*********/
	#supportresource-highlight h2{width:100%;padding:20px 0 0 0;font-size:22px;}
	.supportContainer{border-spacing: 0 20px;padding:0 0 30px 0;width:90%;}
	.support{width: 30%;height: 150px;padding: 5px 0px;}
    .support h5{font-size:12px;}
	.support-img{height:50px;line-height:50px;padding:10px 0 0 0;}
	.btn-02{width:80px;height:30px;font-size:12px;white-space: normal;line-height:0px;padding:1px 1px;}
	.support-mobile{display:none;}
	/******Customize Support & Resource page *********/
	#leftInfoNavigation1{float: left;display: inline-block;width: 30%;}
	.rightContentInfo1{width: 60%;display: inline-block;margin-left: 10px;float: left;}
	.rightArticleTitle1{margin-top: -1px;padding: 10px;font-family: "Ubuntu";font-size: 22px;color: #062340;background-color: #transparent;cursor: pointer;}
	.rightContentInfo1 h4{margin-top: -1px;padding: 10px;font-family: "Ubuntu";font-size: 15px;color: #062340;font-weight: normal;}
	/**************************************/

	.btn-01{width:100%;font-size:15px;white-space: nowrap;line-height:0px;}
	#userinfo-title{margin:0px auto}
	#test{width: 92.9%}
	/************ Home page Styling ************/
 	#userinfo-title{margin:0px 0px; width:100%;}
 	#userinfo-title h2{margin-left: 5px; margin-bottom: 5px;}
 	#slider-right-button{display:none;}
 	#slider-left-button{display:none;}
 	#test{width: 100%;float: none;}
 	.toolTipText{display: inline-block; text-align: left; margin-bottom: 5px;}
 	.moreInfo{display:none;}
 	.toolTip{opacity: 1; width: 100%; position: relative; margin-top: 0px; overflow: hidden; height: auto; display: inline-block;}
}

/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px){
/******Customize footer by Dahhrie*********/
	
    #footer{ width:100%;background-image:none ; background-color:#062340; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left:0px;}
	#footer a, #footer a{color: rgb(230, 230, 230); font-family: Ubuntu; text-align: start; font-size: 6px; line-height: 120%;}
	#footer h3{ color: rgb(230, 230, 230); font-size:11px; font-family: Ubuntu; text-align: start; line-height: 100%;}

	#footer aside.widget{ width:100%;min-height: 80px;padding-right: 0;margin-right: 0;padding-bottom: 0;margin:0 auto;}
	#footer aside.widget.first{ width:100%;height:30px;}
	#partner-logo{width:100%;}
	.partner-img{height:20px;line-height:0px;padding:10px 10px;}
	/******Customize Support on landing page*********/

	#support-highlight h2{width: 100%;padding: 3px 0px 3px 0px;font-size: 25px;}
	#supportresource-highlight h2{width:100%;padding:20px 0 0 0; font-size:25px;margin-left: 0px;}
	.supportContainer{border-spacing: 0 0;height:200px;padding:0 0 30px 0;width:70%;}
	.support{display:none;}
	.support h1{display:none;}
	.support h4{display:none;}
	.support h5{display:none;}
	.support-mobile{display:inline-block;width: 100%;height: 80px;padding:5px 0 0 0;margin:0 0;}
	.support-mobile h1{	margin: none;padding: none;	font-family: "Ubuntu";	font-size: 13px;}
	.support-mobile h4{	padding: 5px 0px 0px 0px; font-size: 12px;font-family: "Ubuntu"; margin-bottom: 0px;}
	.support-mobile h5{font-size:10px;}
	.support-img{height:30px;line-height:30px;padding:15px 0 0 0;}
	.btn-02{width:40px;height:20px;font-size:11px;white-space: normal;line-height:0px;padding:1px 1px;margin-top: 8px;}

	/******Customize Support & Resource page*********/
	#infoContainer1{padding: 0px; width:100%;}
	#leftInfoNavigation1{float: left;display: inline-block;width: 40%;}
	.rightContentInfo1{width: 50%;display: inline-block;margin-left: 0px;float: left;}
	.rightArticleTitle1{margin-top: -1px;padding: 10px;font-family: "Ubuntu";font-size: 22px;color: #062340;background-color: #transparent;cursor: pointer;}
	.rightContentInfo1 h4{margin-top: -1px;padding: 10px;font-family: "Ubuntu";font-size: 15px;color: #062340;font-weight: normal;}
	
	/************Customize Slider***************/
	.btn-01{display:none;}
	
 	#userinfo-container{width:100%;}
	/************ Home page Styling ************/
 	#userinfo-title{margin:0px 0px; width:100%;}
 	#userinfo-title h2{margin-left: 5px; margin-bottom: 5px;}
 	#slider-right-button{display:none;}
 	#slider-left-button{display:none;}
 	#test{width: 100%;float: none;}
 	.toolTipText{display: inline-block; text-align: left; margin-bottom: 5px;}
 	.moreInfo{display:none;}
 	.toolTip{opacity: 1; width: 100%; position: relative; margin-top: 0px; clear: both; overflow: hidden; height: auto; display: normal;}

 }

/* Mobile Portrait View */
@media screen and (max-width: 479px){
/******Customize footer*********/
    #footer{ width:100%;background-image:none ; background-color:#062340; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left:0px;}
	#footer a, #footer a{color: rgb(230, 230, 230); font-family: Ubuntu; text-align: start; font-size: 4px; line-height: 140%;}
	#footer aside.widget{ width:100%;min-height: 80px;padding-right: 0;margin-right: 0;padding-bottom: 0;margin:0 0;}
	#footer aside.widget.first{ width:100%;height:50px;}

	#partner-logo{width:100%;}
	.partner-img{height:12px;line-height:0px;padding:2px 2px;}
	
	/******Customize Support on landing page*********/
	#support-highlight h2{width: 100%;padding: 3px 0px 3px 0px;font-size: 25px;}
	#supportresource-highlight h2{width:100%;font-size:25px;padding: 20px 0 0 0px;}
	.supportContainer{border-spacing: 0 0;height:200px;padding:0 0 30px 0;width:85%;}
	.support{display:none;}
	.support h1{display:none;}
	.support h4{display:none;}
	.support h5{display:none;}
	.support-mobile{display:inline-block; width: 98%;height: 80px;padding:5px 0 0 0;margin:0 0;}
	.support-mobile h1{	margin: none;padding: none;	font-family: "Ubuntu";	font-size: 13px;}
	.support-mobile h4{	padding: 5px 0px 0px 0px; font-size: 12px;font-family: "Ubuntu"; margin-bottom: 0px;}
	.support-mobile h5{font-size:10px;}
	.support-img{height:30px;line-height:30px;padding:10px 0 0 0;}
	.btn-02{width:40px;height:20px;font-size:8px;white-space: normal;line-height:0px;padding:1px 1px;margin-top: 8px;}
	/******Customize Support & Resource page********/
	#infoContainer1{padding: 0px; width:100%;}
	#leftInfoNavigation1{float: left;display: inline-block;width: 100%;}
	.rightContentInfo1{width: 100%;display: inline-block;margin-left: 0px;float: left;}
	.rightArticleTitle1{margin-top: -1px;padding: 10px;font-family: "Ubuntu";font-size: 22px;color: #062340;background-color: #transparent;cursor: pointer;}
	.rightContentInfo1 h4{margin-top: -1px;padding: 10px;font-family: "Ubuntu";font-size: 15px;color: #062340;font-weight: normal;}
	/******Customize slider*********/	
	.btn-01{display:none;}	
	#userinfo-container{width:90%;}
	/************ Home page Styling ************/
	#userinfo-title{margin:0px 0px;width:100%;}
	#userinfo-title h2{margin-left: 5px; margin-bottom: 5px;}
	#slider-right-button{display:none;}
 	#slider-left-button{display:none;}
 	#test{width: 100%;float: none;}
 	.toolTipText{display:none; display: inline-block; text-align: left; margin-bottom: 5px;}
 	.moreInfo{display: none;}
 	.toolTip{opacity: 1; width: 90%; position: relative; margin-top: 0px; clear: both; overflow: hidden; height: auto; display: normal;}
}




