/*
Theme Name: SKT IT Consultant
Theme URI: http://www.sktthemes.net/shop/consultant-lite/
Author: SKT Themes
Author URI: http://www.sktthemes.net
Description: SKT IT Consultant is an IT solution theme and can be used for any type of consulting and networking websites. It is a simple and responsive WordPress theme and is a color changing theme whereby you can change colors to whatever suits you the best. Comes with a default slider and an easy to use theme options. Documentation of this theme is available as well.

Version: 1.2.6
License: GNU General Public License
License URI: license.txt
Text Domain: itconsultant
Tags: black, gray, red, white, light, brown, two-columns, one-column, responsive-layout, custom-menu, featured-images, theme-options, threaded-comments

SKT IT Consultant WordPress Theme has been created by SKT Themes(sktthemes.net), 2015.
SKT IT Consultant WordPress Theme is released under the terms of GNU GPL
*/

*{margin: 0; padding: 0; outline:0;}
body{ margin:0; padding:0; line-height:1; font:13px 'PT Sans',san-serif; color:#2e2e2e; background-color:#fcfcfc; }
img{border:0; padding:0; margin:0; max-width:100%; }
a{text-decoration:none; color:#b40000;}
a:hover{text-decoration:none;}
blockquote p{padding:0; margin:0; }
blockquote{color:#777; font-style:italic; line-height:1.5; padding:20px 15px; margin:15px 0 20px; background:#f6f6f6; position:relative;}
p{line-height:1.5; margin:5px 0 15px;}
h1, h2, h3, h4, h5, h6 { color:#2e2e2e; line-height:1.5; -ms-word-wrap: break-word; word-wrap: break-word; font-weight:600; margin-bottom:20px;}
h1{font-size:38px; line-height:38px;}
h2{font-size:37px; line-height:32px;}
h3{font-size:22px; line-height:30px;}
h4{font-size:20px; line-height:22px;}
h5{font-size:16px; line-height:20px;}
h6{font-size:14px;}
code{color:#b40000; font-family:pt sans;}
h1.entry-title{ font-size:22px; text-transform:uppercase; margin-bottom:10px;}
.clear{clear:both;}
.right{float:right;}
.left{float:left;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-justify{text-align:justify;}
.alignnone{float:none; display:block;}
.screen-reader-text{ margin:0; padding:0;}
 hr{background:url(images/hr_double.png) repeat-x center top; border:none; height:8px; padding:10px 0; clear:both;}
.wrapper_main{}
.container{width:980px; margin:0 auto;}
.header{padding:0; z-index:101; border-bottom:1px solid #dddddd;}
.head_fix{ padding-top:25px;}
.mobile_nav a{background-color:#222222; border:1px #ccc solid; margin-top:10px; padding:12px 20px; display:none; color:#fff;}
.mobile_nav a:hover{ color:#f4e7e7;}
#logo{ float:left;}
#logo h2{ text-transform:uppercase; margin:0; font:36px 'PT Sans',san-serif;}
#logo h2 a{ color:#b40000;}
#logo span{ display:block; font-size:13px;}
.header_right{float:right;}
nav{ font:16px 'PT Sans',san-serif;}
.mobile_nav a{ border:1px solid #cccccc;}
.blog-title{ font:700 25px 'PT Sans',san-serif; color:#2e2e2e; text-align:center; padding:30px 0;}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer h1 span, #footer h2 span, #footer h3 span, #footer h4 span, #footer h5 span, #footer h6 span{ color:#ffffff;}
.social-icons .icon{ background-color:#a4a4a4;}
.social-icons .icon:hover{ background-color:#b40000;}
.welcome_text{ background-color:#f1f1f1;}
.welcome_text .one_fourth:hover {
    background-color: #2e2e2e;
}
.welcome_text .one_fourth:hover .thumbox, .welcome_text .one_fourth .thumbox {
    background-color: #db0000;
}
.welcome_text .one_fourth:hover h4 {
    color: #fff;
}
.welcome_text .one_fourth:hover p {
    color: #ffffff;
}

.phone_email{ float:right; padding:30px 0 0;}
h4.phone{ background:url(images/icon_phone.png) no-repeat left 2px; padding:0 0 0 30px; font-weight:600; float:right; color:#28282a;}
h4.phone span{ color:#b40000;}

.col_one_half, .col_one_third, .col_one_fourth, .col_one_fifth{float:left;}
.col_one_half{width:48%; margin-right:4%;}
.col_one_third{width:31%; margin-right:3%;}
.col_one_fourth{width:22%; margin-right:3%;}
.col_one_fifth{width:18%; margin-right:2%;}

.welcome_text{}
.welcome_text img{vertical-align:top;}
.welcome_text .one_fourth a{ color:#2e2e2e;}
.welcome_text .one_fourth{width:22.3%; padding:15px 8px; margin-bottom:0; background-color:none; text-align:center; margin-right:11px; cursor:pointer;}
.welcome_text .one_fourth:hover{ }
.welcome_text .one_fourth a:hover{text-decoration:none; color:#fff;}
.welcome_text .one_fourth h4{font-size:19px; margin:5px 40px; text-transform:capitalize; font-weight:bold;}
.welcome_text .one_fourth:hover h4 a{color:#fff;}
.welcome_text .one_fourth .read{ font-size:14px; padding:0 20px 0 0; color:#b92626; background:url(images/readmore-icon.png) no-repeat right; display:inline-block;}
.welcome_text .one_fourth:hover .read{background:url(images/readmore-icon_hover.png) no-repeat right; color:#fff;}
.welcome_text .one_fourth p{ line-height:24px;}
.welcome_text .one_fourth:hover p{}
.welcome_text .one_fourth .thumbox{ width:40px; height:40px; line-height:35px; padding:5px; border-radius:50%; margin:0 auto;}
.welcome_text .one_fourth:hover .thumbox{}
.welcome_text .one_fourth .thumbox img{ vertical-align: middle; max-width:70%;}


.readmore{ color:#000; background:transparent; border:2px #7d7d7d solid; padding:5px 10px; margin:10px 0; display:inline-block;}
.readmore:hover{color:#711112;}
section ul{list-style:none; line-height:1.5;}
section ol, .content-area ol{margin-left:15px;}

.post-comment{float:left;}
.post-date{float:left;}
.post-categories{float:left;}
.post-tags{float:left;}
img{height:auto;}

.pagination{padding:15px 0 5px; display:table;}
.pagination ul{list-style:none;}
.pagination ul li{list-style:none; background-image:none; padding:0; margin-right:5px; display:inline; float:left; margin-top:5px;}
.pagination ul li a, .pagination ul li span{display:inline-block; padding:5px 10px; color:#fff; background-color:#333;}
.pagination ul li span.current, .pagination ul li:hover a {background-color:#711112;}
#sidebar{margin-top:10px;}
#sidebar aside{margin-bottom:25px;}
#sitemain.nosidebar{margin-left:auto; margin-right:auto; float:none;}
.nav-previous{float:left;}
.nav-next{float:right;}
.postmeta{margin-bottom:15px;}
.post-navigation{padding-bottom:15px;}
.image-navigation .nav-next, .image-navigation .nav-previous{padding:15px 0;}
dd, dt{padding:5px 0; line-height:1.5;}
.wp-caption, .gallery-caption{max-width:100%; background:#f6f6f6; text-align:center; margin-bottom:10px;}
.wp-caption-text{text-align:center; color:#333; padding-bottom:10px; display:block; margin-bottom:0;}
.post-password-form input[type=password]{border:1px #ccc solid; padding:2px;}


/* woocommerce */
a.added_to_cart{background:#711112; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
/*#subscription-toggle{float:left; padding:4px 0 0 15px;}*/
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#711112; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
article.type-post{margin-bottom:10px;}

.cf_text{width:400px; padding:5px; border:1px #ddd solid;}
.cf_textarea{width:400px; padding:5px; border:1px #ddd solid;}
.cf_captcha{width:278px; padding:5px; border:1px #ddd solid;}
.cf_button{padding:5px 15px; background:#711112; border:none; color:#fff; cursor:pointer;}
.cf_button:hover{background:#373838;}
.error_msg{color:#e00; padding-left:10px; vertical-align:top;}
.success_msg{color:#070; padding:5px 0 15px;}
.webicon{font-size:22px; padding:15px 0;}

/* =Editable Css
-------------------------------------------------------------- */
section#home_slider{ padding:0;}

.content-part{ width:630px; float:left;}
.page-content{ padding:0 25px;}
.sidebar-left img, .front-left img{ float: left; margin:5px 12px 5px 0;}
.sidebar-right{ width:290px; float:right; position:relative;}
.widget-area{ margin-bottom:20px;}
h3.widget_title{ font-size:22px;  margin:0 0 10px; padding:0 0 5px; border-bottom:1px solid #ddd;}
.sidebar-area ul{ list-style:none;}
.sidebar-area ul li{  padding:0; }
.sidebar-area ul li a{ background:url(images/category-arrow.png) no-repeat left 10px; display:block; text-decoration:none; color:#3f3f3f; padding:6px 0 6px 18px; }
.sidebar-area ul li a:hover{background:url(images/category-arrow-hover.png) no-repeat left 10px; color:#751313;}

.front-left{ float:left;}
.front-right{ width:22%; float:right; position:relative;}
.front-center{ padding:0 25px;}


.blog-post h3.entry-title{ border-top:1px solid #d9d9d9; line-height:30px; padding:8px 0 12px 0; margin:0;}
.blog-post .postmeta{border-top:1px dotted #cdcdcd; border-bottom:1px dotted #cdcdcd; line-height:22px; margin-bottom:15px; color:#555e58!important; font-size:12px; }
.entry-date{float:right;}
.post-thumb img{ float:left; margin:5px 15px 5px 0; }
footer.entry-meta{ clear:both;}
ol.comment-list{ list-style:none;}


.page_wrapper{ padding-bottom:1px; margin-top:30px;}


.blog-post-repeat{ margin-bottom:20px;}
.sidebar-area{position:relative; margin-bottom:20px; padding:15px;}

#footer{ background:url(images/footerbg.jpg) repeat left top; color:#eeeeee; padding:20px 0 20px;}
#footer h3{ font-size:18px; margin:0 0 15px 0;}
#footer a, #copyright a{color:#fff;}
#footer a:hover, #copyright a:hover{color:#711112;}
#footer aside.widget{float:left; min-height:190px; width:20%; padding-right:3%; margin-right:3%; }
#footer aside.widget.first{ width:22%;}
#footer aside.widget.second{ width:23%;}
#footer aside.widget.third{ width:18%;}
#footer aside.widget.last{width:19%; padding-right:0; margin-right:0; border:none;}
#footer aside.widget ul{ list-style:none;}
#footer aside.widget ul li{ list-style:none;}
#footer aside.widget ul li a{ line-height:24px;}
#copyright{background:#2e2e2e; color:#fff; padding:15px 0; font-size:12px;}
#copyright a{padding:0 3px;}

#copyright ul{}
#copyright ul li{ list-style:none; display:inline-block;}
#copyright ul li a{ display:block; padding:0 6px;}
#copyright ul li:hover a, #copyright ul li.current_page_item a{color:#b40000;}

.social_icons a{background-image:url(images/social_icon.png); background-repeat:no-repeat;  height:22px; display:inline-block; padding:10px 2px 4px 45px; margin:0 0 7px 0; }
.social_icons a.fb{background-position:0 0;}
.social_icons a.fb:hover{background-position:0 -36px;}
.social_icons a.tw{background-position:0 -72px; padding-bottom:5px;}
.social_icons a.tw:hover{background-position:0 -109px;}
.social_icons a.in{background-position:0 -146px;}
.social_icons a.in:hover{background-position:0 -182px;}
.social_icons a.rss{background-position:0 -219px;}
.social_icons a.rss:hover{background-position:0 -255px;}


/* =social icon Css
-------------------------------------------------------------- */
.social-icons a{ color:#eeeded; display:block; clear:none; line-height:35px;}
.social-icons a:hover{ color:#7bb302; }
.social-icons .icon{width:100%; padding:5px; width:25px; height:25px; border-radius:50%; background-repeat:no-repeat; background-position:center center; float:left; margin:0 10px 5px 0; }
/*
.social-icons .fb{background-image:url(images/social/fb-icon.png);}
.social-icons .twitt{background-image:url(images/social/twitt.png);}
.social-icons .gplus{background-image:url(images/social/gplus.png);}
.social-icons .linkedin{background-image:url(images/social/linkedin.png);}
*/

.feature-pro{ padding-bottom:20px;}
.feature-pro h3{font-size:22px; margin:0; padding:0 0 10px; text-transform:uppercase;}
.feature-pro .post-box{width:270px; margin:0 15px 20px 0; padding:0; float:left;}
.feature-pro .post-box img:hover{opacity:0.8;}
.feature-pro .post-box h6{ color:#b40000; margin:0;}
.feature-pro .post-box p{ line-height:18px; margin:0 0 5px; }
.feature-pro .post-box .more{ background:url(images/service-arrow.png) no-repeat left 9px; padding:0 0 0 20px; } 
.feature-pro .post-box a:hover{text-decoration:none;}



.entry-content ul, .entry-content ol{ margin:0 0 15px 20px;}
.entry-content ul li ul, .entry-content ol li ol{ margin-bottom:0;}

/* Mobile Portrait View */
@media screen and (max-width: 479px){
body{min-width:320px; max-width:479px;}	
.layout_wide{ width:100% !important; margin-top:0 !important;}
.layout_wide .header{width:100%;}
.layout_box .header{width:320px;}
.left, .right{float:none; display:block;}
#copyright{text-align:center;}
#copyright .right{padding-top:15px;}
.wrapper_main{width:auto;}
.container{width:300px;}
.socials .container{width:258px;}
.no-margin-right{}
#logo{text-align:center; padding:10px 0 0 0;}
#logo img{max-height:60px;}
#logo, .header_right{float:none;}
#footer aside.widget{float:none; width:100% !important; border-right:none; padding-bottom:25px; padding-right:0; margin-right:0; min-height:inherit !important;}
.features .col_one_third{margin-left:auto; margin-right:auto; padding-bottom:10px; float:none;}
.col_one_half, .col_one_third, .col_two_third, .col_one_fourth, .col_three_fourth, .col_one_fifth{float:none; margin-right:0; width:100%;}
.features_more ul{margin-left:0;}
.lead_text{width:100%;}
nav{display:none;}
.mobile_nav, .header_right nav{width:100%;}
#sitemain{width:100%; float:none; display:block; margin-bottom:30px;}

#container{padding:10px;}
.title-404{font-size:28px; padding:10px 0 5px; font-style:italic; font-weight:bold; color:#e1472f; text-transform:none; text-align:center;}
.title-404 strong{font-size:55px; padding-right:10px;}
.text-404{color:#e1472f; font-size:21px; text-align:center; line-height:1.25; padding-bottom:30px;}
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth{float:none; display:block; width:100%; margin-right:0;}
.error_msg{display:block;}
.highlight{margin-top:10px !important;}
.front-left, .front-right{ float:none; width:100% !important}
.content-part{float:none; width:100% !important; padding:0 0 20px 0 !important}
.contact-form p{ margin-bottom:15px !important}
.cf_text, .cf_textarea{ width:95% !important;}
.cf_captcha{width:45% !important;}
.socials .cols-4{ width:96% !important; float:none !important; margin:0 0 15px 0 !important;}
.sidebar-left{ width:auto !important; float:none !important;}
.sidebar-right{ width:auto !important; float:none !important;}

h4.phone{ float:none; margin:10px 0 10px 45px;}
.contact_info{ float:none; width:auto;}
.contact_left iframe{ width:285px !important;}
#footer ul li{ display:block }
#footer ul li a{ border-right:none; padding:5px;}
.welcome_text .one_fourth{ width:auto !important; margin-right:0 !important;}
.welcome_text .last_column{ width:auto !important; margin-right:0 !important;}
.welcome_text .one_fourth .read{ display:-moz-box;}
.about_wrap .one_half, .about_wrap .one_fourth{ background:none; width:100% !important; margin-right:0; padding-right:0;}
.social_icons a{ display:block;}
.about_left, .about_right, .feature-pro .post-box{ float:none; width:100%; margin-right:0;}
.sidebar-area{ padding:0;}
}

/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px){
body{min-width:480px; max-width:767px;}
.layout_wide{ width:100% !important; margin-top:0 !important;}
.layout_wide .header{width:100%;}
.layout_box .header{width:480px;}
body.admin-bar .fixed_header{top:46px;}
.left, .right{float:none; display:block;}
#copyright{text-align:center;}
#copyright .right{padding-top:15px;}
.wrapper_main{width:auto;}
.container{width:460px;}
.socials .container{width:416px;}
.no-margin-right{}
#logo{text-align:center; padding:10px 0 0 0;}
#logo img{max-height:80px;}
.phone_email{ float:none; padding:15px 65px 0;}
#logo, .header_right{float:none;}



#footer aside.widget{float:none; width:100% !important; border-right:none; padding-bottom:25px; padding-right:0; margin-right:0; min-height: inherit !important;}
.features .col_one_third{margin-left:auto; margin-right:auto; padding-bottom:10px; float:none;}
.col_one_half, .col_one_third, .col_two_third, .col_one_fourth, .col_three_fourth, .col_one_fifth{float:none; margin-right:0; width:100%;}
.features_more ul{margin-left:0;}
.lead_text{width:100%;}
.mobile_nav, .header_right nav{width:100%;}
#sitemain{width:100%; float:none; display:block; margin-bottom:30px;}
#sidebar{width:100%; float:none; display:block;}
.hdr_buy_link{text-align:center; padding:10px 0 5px;}

#container{padding:10px;}
.title-404{font-size:28px; padding:10px 0 5px; font-style:italic; font-weight:bold; color:#e1472f; text-transform:none; text-align:center;}
.title-404 strong{font-size:55px; padding-right:10px;}
.text-404{color:#e1472f; font-size:21px; text-align:center; line-height:1.25; padding-bottom:30px;}
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth{float:none; display:block; width:100%; margin-right:0;}
.error_msg{display:block;}
.highlight{margin-top:10px !important;}
.front-left, .front-right{ float:none; width:100% !important}
.content-part{float:none; width:100% !important; padding:0 0 20px 0 !important}
.contact-form p{ margin-bottom:15px !important}
.cf_text, .cf_textarea{ width:95% !important;}
.cf_captcha{width:65% !important;}
.socials .cols-4{ width:96% !important; float:none !important; margin:0 0 15px 0 !important;}
.sidebar-left{ width:auto !important; float:none !important;}
.sidebar-right{ width:auto !important; float:none !important;}


.head_fix{ padding-top:0px; height:auto;}
h4.phone{ float:none; margin:10px 0 10px 115px;}

.contact_info{ float:none; width:auto;}
.contact_left iframe{ width:435px !important;}

.welcome_text .one_fourth{ width:auto !important;}
.welcome_text .last_column{ width:auto !important;}
.welcome_text .one_fourth .read{ display:-moz-box;}
.about_wrap .one_half, .about_wrap .one_fourth{ background:none; width:100% !important; margin-right:0; padding-right:0;}
.social_icons a{ display:block;}
.about_left, .about_right, .feature-pro .post-box{ float:none; width:100%; margin-right:0;}
.sidebar-area{ padding:0;}
}

/*Resposive menu css*/
@media screen and (max-width: 999px){
nav{display:none; background:#6c6d6c;}
.header_right nav{padding:0; margin-top:-1px; margin-right:0; line-height:1.25;}
nav ul{list-style:none; }
nav ul li{float:none; display:block; position:relative; border-top:1px #888 solid;}
nav ul li ul li{ border-bottom:none !important;}
nav ul li a{display:block; padding:8px 10px; border-right:none !important; font-size:14px !important; font-weight:300; color:#fff !important}
nav ul li ul li a:before{content:"\00BB  ";}
nav ul li ul li ul li a:before{content:"  \00BB  ";}
nav ul li ul li a{padding-left:20px;}
nav ul li ul li ul li a{padding-left:30px;}
nav ul li ul li ul li ul li a{padding-left:40px;}
}

/* Tablet ----------- */
@media only screen and (min-width: 768px) and (max-width: 999px) {
body{min-width:768px; max-width:999px;}
.layout_wide{ width:100% !important; margin-top:0 !important;}
.layout_wide .header{width:100%;}
.layout_box .header{width:768px;}
body.admin-bar .fixed_header{top:32px;}
.wrapper_main{width:auto; box-shadow:none;}
.container{width:750px;}
.no-margin-right{margin-right:0px;}
#footer .search-form .search-field{width:120px;}
#footer .search-form{width:210px;}
.features_more ul{margin-left:0;}
.features .col_one_third{margin-left:40px;}
#sitemain{width:55%; float:left; }
#sitemain.right{ float:right;}
h4.phone{ margin:0; float:none;}

#container{padding:20px;}

.title-404{font-size:32px; padding:20px 0 10px; font-style:italic; font-weight:bold; color:#e1472f; text-transform:none; text-align:center;}
.title-404 strong{font-size:77px; padding-right:20px;}
.text-404{color:#e1472f; font-size:24px; text-align:center; line-height:1.25; padding-bottom:30px;}
.content-part{ width:55% }
.contact_info{ width:35%;}
.front-right{width:40% !important;}

.nivo-caption h1{ font-size:30px !important; margin:0 !important; line-height:30px !important;}
.slide_info{ margin-bottom:0 !important;}
.nivo-caption p{ margin:0 !important; line-height:14px !important;}
.theme-default a.nivo-nextNav{ right:1% !important;}
.theme-default a.nivo-prevNav{ left:1% !important;}

.socials .cols-4{ width:22% !important ;}
.widget-area .cf_text, .widget-area .cf_textarea{ width:95% !important;}
.widget-area .cf_captcha{width:64% !important;}
.sidebar-left{ width:290px !important;}
.sidebar-right{ width:290px !important; }
.contact_info iframe{ width:300px !important;}
.welcome_text .one_fourth{ width:22%;}
.about_wrap .one_half{ width:42%;}
.about_left{ width:320px;}
.about_right{ width:390px;}
.services_panel .post-box{ width:172px;}
.error_msg{ display:block;}

}
/*Computer*/
@media only screen and (min-width:1000px) {

body{min-width:1000px;}
.no-margin-right{margin-right:0 !important;}
.layout_wide{ width:100% !important; margin-top:0 !important;}
.layout_box{box-shadow:0 0 22px rgba(0,0,0,0.75); -moz-box-shadow:0 0 22px rgba(0,0,0,0.75); -webkit-box-shadow:0 0 22px rgba(0,0,0,0.75);}
.layout_wide .header{width:100%;}
.layout_box .header{width:980px;}
body.admin-bar .fixed_header{top:32px;}
#sitemain{width:630px; float:left;}
#sitemain.right{float:right;}
.hdr_buy_link{text-align:right; padding:5px 0;}

#container{padding:20px; width:680px; float:left;}
.title-404{font-size:32px; padding:30px 0 20px; font-style:italic; font-weight:bold; text-transform:none; text-align:center;}
.title-404 strong{font-size:77px; padding-right:20px;}
.text-404{ font-size:24px; text-align:center; line-height:1.25; padding-bottom:40px;}

/* =Menu
-------------------------------------------------------------- */
.header_right nav{ float:right; clear:right;}
nav{height:35px; line-height:28px;}
nav ul{list-style:none; color:#fff;}
nav ul li{float:left; display:inline-blok; position:relative; }
nav ul li a{display:block; padding:0px 8px 7px; font-weight:600; margin:0 5px 0 0; color:#2e2e2e; }
nav ul li:hover, nav ul li.current-menu-item, nav ul li.current-menu-ancestor{}
nav ul li a:hover, nav ul li.current_page_item a, nav ul li.current_page_parent a.parent { color:#fff; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px}
nav ul li:last-child a{ border-right:none; margin-right:0;}

nav ul li ul{display:none; width:220px; z-index:99;}
nav ul li:hover ul{display:block; position: absolute; box-shadow:5px 5px 5px rgba(0,0,0,0.5); -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5); -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5);}
nav ul li:hover ul li{ }
nav ul li:hover ul li a{ line-height:30px; font-size:16px; color:#fff;}
nav ul li:hover ul li:hover{}
nav ul li.current-menu-item ul li{position:relative; }
nav ul li ul li a, nav ul li ul li, nav ul li.current-menu-item ul li a,  nav ul li.current-menu-item ul li, nav ul li.current-menu-item ul li a { display:block; float:none; border-right:none; }
nav ul li.current-menu-item ul li a{}
nav ul li ul li:hover, nav ul li ul li.current-menu-item { background:none;}
nav ul li ul li a:hover, nav ul li ul li.current-menu-item a {}
nav ul li:hover ul li ul, nav ul li:hover ul li:hover ul li ul{display:none;}
nav ul li:hover ul li:hover ul, nav ul li:hover ul li:hover ul li:hover ul{display:block; position:absolute; left:220px; top:0;}
nav ul li ul li a:hover, nav ul li ul li.current-menu-item a{background:transparent}
nav ul li a:hover, nav ul li.current_page_item a, nav ul li.current_page_parent a.parent, nav ul li:hover ul li:hover, nav ul li:hover ul{ background-color:#b40000;}
nav ul li:hover ul li:hover{ background-color:#c90202;}
nav ul li:hover ul li{ border-bottom:1px solid #d76969;}
}

