/******************************************** Font Loading ********************************************/
@font-face{
	font-family: "Comfortaa";
	src: url("fonts/Comfortaa-Regular.ttf");
}

@font-face{
	font-family: "BebasNeue";
	src: url("fonts/BebasNeue.otf");
}

/******************************************** General Styling ********************************************/
body{
	margin: 0;
	padding: 0;
	font-family: "Arial", Helvetica, sans-serif;
	color: #5E5E5E;
}

.bodyClass{
	font-size: 140%;
}

/*Text Box Styling*/
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 3px solid rgba(81, 203, 238, 1);
}

/*Button Styling*/
button{
	background-color: #009BCF;
	color: white;
	font-family: "Arial";
	font-size: 120%;
	padding: 5px 10px;
	box-shadow: none;
	border-style: none;
}

button: hover{

}

.h2Class, .h3Class{
	font-weight: bold;
	font-family: "Arial", Helvetica, sans-serif;
	margin: 0;
}

.h2Class{
	font-size: 150%;
	color: #009BCF;
}

.h3Class{
	font-size: 100%;
	color: #5E5E5E;
}

/******************************************** Header Styling ********************************************/
#navigationTop{
	height: 40px;
	width:100%;
	background-color: #2D84B3;
}

/******************************************** Navigation Styling ********************************************/


/******************************************** Container Class 80 Styling ********************************************/
.container-class80{
	margin: 10px auto;
	width: 80%;
	padding-top: 30px;
}

/******************************************** Login & Registration Form Styling ********************************************/
#formContainer{
	overflow: hidden;	
	height: auto;
	width: 80%;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: #ABABAB; 
}

#formTitleBanner{
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #ABABAB;
	padding: 10px 10px;
}

#loginForm{
	float: left;
	width: 52%;
	padding: 10px 20px;	
	background-color: #F2F2F2;
}

#loginForm input[type=text], textarea {
	float: right;
	width: 60%;
	margin: 0;
	padding: 0;
	height: 30px;
}

#loginForm h2{
	margin-top: 10px;
	margin-bottom: 10px;
}

.loginFormItem{
	height: 30px;
	white-space: nowrap;
	margin-top: 20px;
	margin-bottom: 20px;
}

.inputFieldTitleDiv{
	float: left;
	height: 30px;
	width: 40%;
	line-height: 30px;
}

#loginButton{
	float: right;
}

#registerLinkContainer{
	
	float: left;
	width: 30%;
}

.nameField{
	float: left;
}

/******************************************** Footer Styling ********************************************/