/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */

/****Bullet Styling by Dari******/
.nivo-bullet{
	position:absolute;
	right:0px;
}


.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0%;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color:#fff;
	z-index:8;
	padding:0;
	overflow: hidden;
	display: none;
}
.slide_info{margin-bottom:10px;}
/*
.nivo-caption h1{	
	padding:0; 
	margin:0;
	text-transform:none;
	line-height:40px;
	font:700 35px 'PT Sans',san-serif;
}
*/
/****Custom Slide Title on 6 Oct****/
.nivo-caption h1{	
	padding:50px 0 30px 150px; 
	margin:0;
	text-transform:none;
	font-size:55px;
	font-family: "Ubuntu";
}
.slide_btn{padding:0 0 0 150px;}
/*****************************/

.nivo-caption h5{	
	padding:10px 0 0 150px; 
	margin:0;
	text-transform:none;
	line-height:120%;
	font-size:16px;
	font-family: "Ubuntu";
}


.nivo-caption p {
	padding:5px 0;
	margin:0;
}
.nivo-caption a {
	display:inline-block !important;
	color:#2e2e2e;
}
.slide_more{
	color:#fff;
	font-size:14px;
}
.slide_more a{
	background-image: url(../images/arrow_1.png);
	background-repeat: no-repeat;
	background-position: 100px center;
	color:#fff;
	padding:10px 40px 10px 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-transform:uppercase;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	bottom:10px;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	bottom: 10px;
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	float:left;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
.theme-default{
	position:relative;
}
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
    margin-bottom:0;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {	border:0;display:block;}

.theme-default .nivo-controlNav {
	position:absolute;
	bottom:40px;
	text-align: center;
	padding:10px 0;
	width:auto;
	z-index:8;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:20px;
	height:20px;	
	text-indent:-9999px;
	border-style: solid;
    border-width: 1.5px;
	margin: 0 3px;
	border-radius:50%;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -16px;	
}
.theme-default .nivo-directionNav a {
	display:block;
	width:15px;
	height:20px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	bottom:5px;
	opacity: 0.75;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-17px 0;
	right:14%;
}
.theme-default a.nivo-prevNav {
	left:14%;
}
.theme-default .nivo-caption a {
    color:#fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
/*.theme-default .nivo-controlNav a.active, #commentform input#submit:hover{ background-color:#b40000;}
.theme-default .nivo-controlNav a, #commentform input#submit{ background-color:#2e2e2e;}
*/

.theme-default .nivo-controlNav a.active, #commentform input#submit:hover{ background-color:transparent; border-style: solid; border-width: 1.85px; border-color: #FC9A53;}
.theme-default .nivo-controlNav a, #commentform input#submit{ background-color:transparent; border-color:#c8c8c8;}

@media only screen and (min-width:1000px) { 
	.nivo-caption{width:600px; top:140px;}
	.slide_btn{margin-top:40px;}/*by Dari*/
	/*.nivo-caption h1{ margin-bottom:0px; line-height:24px;}
	.nivo-caption p{ line-height:16px; margin-bottom:5px}
	.theme-default a.nivo-nextNav {	right:2%;}
	.theme-default a.nivo-prevNav {	left:2%;}*/
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 999px) {
	.nivo-caption{width:400px; bottom:160px;left:20px;}
	.nivo-controlNav{top:80px;}
	/*.nivo-caption h1{font-size:45px !important; line-height:30px;}*/
	.slide_info{margin-bottom:0;}
	.slide_btn{width:200px;height:50px;font-size:25px;margin-top:10px;}
}

/* Mobile Landscape View */
@media only screen and (max-width: 767px) {
	.nivo-caption{width:50%; bottom:70px; left:5px;}
	.nivo-caption h1{font-size:14px !important; line-height:22px;}
	.nivo-caption p{font-size:11.5px;}
	.slide_info{margin-bottom:0;}
	.nivo-controlNav, .nivo-directionNav{ bottom:0px !important;}
	/*Custom button by Dari*/
	.slide_btn{width:140px;height:20px;font-size:10px;margin-top:0;}
	.nivo-directionNav{ display:none;}
	.nivo-controlNav{display:none;}
}


/* Mobile  Portrait View */
@media screen and (max-width: 479px){
	/*Remove the slider buttons in this view*/
	.nivo-controlNav a {transform: scale(0,0);}
	.nivo-directionNav{ display:none;}
}

